.hover-grayscale:hover .grayscale-image {
  filter: grayscale(100%);
}

.no-scrollbar {
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar {
  overflow: scroll;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.fade-edges {
  -webkit-mask-image: radial-gradient(circle, white 70%, transparent 100%);
  mask-image: radial-gradient(circle, white 70%, transparent 100%);
}

@media (min-width: 568px) and (orientation: landscape) {
  .landscape-grid-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .landscape-grid-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
